<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pie </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
<h1>Pie Chart</h1>
<h5>Pie Chart Source: Pandas on PyCharm.</h5>
<p>
<br>Why: Pie charts are great for visualising part to whole relationships. In this case, presenting the percentile difference of the number of pubs for each borough to the total number of in London.
<br>Positives: It is intuitive. As it is self-explanatory, there is not a necessary need to explain what you are presenting.
<br>Negatives: For some (such as myself) there is a lack of intuition when it comes to spatial awareness. I am not good at noticing area or angle unless overwhelmingly obvious.
<br>Alternatives: An alternative is the donut chart, this would be a small derivative improvement as it hole in the centre could be used to present more information such as the total number of pubs. I would opt for a more complex alternative such as a radial bar chart. For those who do not have spatial awareness, it would provide a clearer comparative analysis for decision making; it would be provide the positives of the beautiful visuals of the round shape, but keep the more primal/innate understanding with length for comparison.</p>
<div class="pie">
    <img src="/static/img/pie_chart1.png" alt="bar chart with mean line"> <!--THIS IS THE ORDER OF THE CODE!!!!-->
</div>
<div class="para-style-right"><a href="http://127.0.0.1:5000/"><p>back to dashboard</p></a></div>
</body>
</html>